.login {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0)0%, rgba(0,0,0,1)100%),
    url("../../../assets/netflix-wallpapers.jpg");
    background-size: cover;
    position: relative;
}

.top {
    .wrapper {
        padding: 20px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            height: 40px;
        }

        .signUpButton {
            background-color: red;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            z-index: 9;
    }
}
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;

    
}